/* CSS Variables */

:root {

    --aa-primary: #10AE88;
    --aa-secondary: #002740;
    --aa-white: #fff;
}

/* AREA FONT */

@font-face {
    font-family: 'Area';
    src: url('../fonts/Area-Bold.woff2') format('woff2'),
        url('../fonts/Area-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Area-Extended';
    src: url('../fonts/area-boldextended.woff2') format('woff2'),
        url('../fonts/area-boldextended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Area-Extended-Bold';
    src: url('../fonts/area-extraboldextended.woff2') format('woff2'),
        url('../fonts/area-extraboldextended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Area-Extended-Black';
    src: url('../fonts/area-extrablackextended.woff2') format('woff2'),
        url('../fonts/area-extrablackextended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, input {
    font-family: 'Area-Extended', 'Arial    ';
}

.header_section {
    background-image: radial-gradient(75% 220% at 50% 50%, #10AE88 0%, #07585E 0%, #002740 100%);
}

.main_section {
    background: radial-gradient(circle, rgba(16, 174, 136, 0.8) 0%, rgba(7, 88, 94, 1) 58%, rgba(0, 39, 64, 1) 100%);
}

.gallery_main_section {
    background: rgb(16, 174, 136);
    background: radial-gradient(circle, rgba(16, 174, 136, 1) 0%, rgba(7, 101, 97, 1) 49%, rgba(0, 39, 64, 1) 100%, rgba(0, 39, 64, 1) 100%);
}

.logo_container {
    min-height: 55vh;
}

.logo_container h1 {
    font-weight: 600;
    font-size: 2.5rem;
    /* width: 40%; */
    line-height: 1.1;
    font-family: 'Area-Extended-Bold';
}

.instant_donate {
    font-size: 20px;
    font-family: 'Area-Extended-Black';
}

.instant_donate:hover {
    color: var(--aa-secondary);
    font-weight: bold;
}

.aa_time {
    font-size: 1.2rem;
    display: block;
    font-weight: 600;
    color: #fff;
    font-family: 'Area-Extended';
}

.aa_islamic_time {
    font-size: 0.8rem;
    color: var(--aa-white);
    font-family: 'Area';
}

.nav_container a {
    text-decoration: none;
    color: var(--aa-white);
    font-size: 1.6rem;
    transition: 0.7s;
    font-family: 'Area-Extended-Bold';
}

.nav_container a:hover {
    color: var(--aa-primary);
    transition: 0.7s;
}

.header_social_icons a {
    margin-right: 15px;
    color: var(--aa-white);
    font-size: 1.2rem;
}

.header_social_icons a:hover {
    color: var(--aa-primary);
}

.hero_section .col-12 {
    padding: 0;
}

.newsletter {
    background-color: #ffffff75;
    transition: background-color 0.8s;
}

.newsletter:hover {
    background-color: #F2F2F2;
    transition: background-color .8s;
    cursor: pointer;
}

.newsletter p a {
    font-size: 1.8rem;
    color: var(--aa-secondary);
    font-family: 'Area-Extended-Black';
    line-height: 1;
    margin: 0;
    text-decoration: none;
}

.arrow_circle {
    width: 35px;
    height: 35px;
    border: 2px solid var(--aa-secondary);
}

.circle_white {
    width: 35px;
    height: 35px;
    border: 2px solid var(--aa-white);
}

.page_link, .page_title {
    color: var(--aa-white);
    font-family: 'Area-Extended-Black';
    line-height: 1;
    margin: 0;
    text-decoration: none;
}

.page_title_text::before {
    content: "";
    display: block;
    position: absolute;
    height: 24px;
    top: calc(50% - 12px);
    width: 1px;
    left: 70px;
    background-color: #1A1A1A;
}

.page_title_container {
    background-color: #ffffff69;
    left: -20px;
}

.page_link h3 {
    font-size: 2rem;
    font-family: 'Area-Extended-Bold';
}

.page_link:hover {
    /* color: var(--aa-secondary); */
}

.homepage_title {
    text-decoration: none;
    font-family: 'Area-Extended-Black';
}

.homepage_title::before {
    opacity: 0.5;
    display: block;
    content: "";
    width: 100vw;
    position: absolute;
    right: 100%;
    height: 100%;
    top: 0;
    background-color: #F2F2F2;
    background-image: url('https://wirelessfestival.co.uk/assets/images/chevron-dark.png');
    background-position: top right;
    background-repeat: repeat;
    background-size: 12px 12px;
}

.title_target_icon {
    left: 20px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link, .dropdown-item {
    font-family: 'Area-Extended';
    /* font-weight: ; */
    font-size: 18px;
    text-transform: uppercase;
    color: var(--aa-white);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--aa-primary);
}

.top_divider {
    width: 70%;
    border-top: 2px dashed var(--aa-primary);
}

.mobile_menu_social_icons li {
    margin-right: 15px;
}

.nav-link:hover, .nav-link:focus {
    color: var(--aa-primary);
}

.mobile_menu_social_icons li a {
    font-size: 1.3rem;
    color: var(--aa-white);
    margin: 0;
    padding: 0;
}

.mobile_menu_bar {
    background-image: linear-gradient(330deg, var(--aa-primary) -10%, var(--aa-secondary) 100%);
}

.mobile_menu_bar span {
    writing-mode: vertical-rl;
    /* min-width: 20px; */
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Area-Extended';
    line-height: 1.4rem;
}

.mobile_menu_bar .islamic_sidebar_date {
    writing-mode: vertical-rl;
    /* min-width: 20px; */
    color: #fff;
    font-size: 0.9rem;
    font-family: 'Area';
}

.close_btn {
    font-size: 1.6rem;
}

.aa_mobile_nav_toggler {
    font-size: 1.7rem;
}

.nav-link {
    padding: 2PX;
}


.primary-heading {
    font-family: Area;
    font-size: 25px !important;
    font-weight: 800;
    line-height: 28px;
}

/* ========== common style for page ========== */

.page_title {
    transform: rotate(90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    top: 0%;
    left: 25%;
    text-transform: uppercase
        /* transform: translateX(-50%) rotate(90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    top: 50%;
    /* Adjust vertically if needed */

}

.line_with_page_title {
    width: 12%;
    height: 20%;
    background-color: white;
    position: relative;
    left: 40%;
    top: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* project page show project with image  */
.project-section-container {
    filter: brightness(160%) grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

/* Reduce grayscale and adjust brightness on hover */
.project-section-container:hover {
    filter: brightness(100%) grayscale(0);
    background: linear-gradient(0);
}

.home_project_row::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-image: url('../images/chevron-dark.png');
    background-position: top left;
    background-repeat: repeat;
    background-size: 12px 12px;
    opacity: 0.2;
    position: absolute;
    z-index: 0;
    width: 0%;
    transition: width 0.8s;
}

.home_project_row:hover::before {
    width: 100%;
    transition: 1s;
    cursor: pointer;
}

.home_project_row {
    z-index: 1;
    position: relative;
}

.home_project_img {
    transition: 1s;
}

.home_project_row:hover .home_project_img {
    transform: scale(1.07);
    transform: 1s;
}

/* Initial style for the arrow image */
.home_project_row .circle_white img {
    transition: all 0.3s ease;
    /* Add a transition for a smooth effect */
}

/* Style changes on hover */
.home_project_row:hover .circle_white {
    background-color: #fff;
    transition: 0.5s;
}

.home_project_row:hover .circle_white img {
    content: url('../images/arrow.svg');
    opacity: 1;
    width: 13px;
}

.stripe-container {
    width: 200px;
    height: 40%;
    position: relative;
}

.stripe-pattern {
    width: 50%;
    height: 250%;
    background: linear-gradient(45deg, #ffffff38 33.33%, transparent 33.33%, transparent 66.66%, #ffffff38 66.66%);
    background-size: 8px 8px;
    /* Adjust the size of the stripes */
}


.search-placeholder::placeholder {
    color: white;
}

.gallery_years li a {

    color: var(--aa-white);
    font-size: 1.6rem;
    font-family: 'Area';
    transition: 0.8s;
}

.gallery_years li a:hover {
    color: var(--aa-primary);
    transition: 0.9s;
}

.gallery_years li {
    min-width: 90px;
    margin-bottom: 15px;
    text-align: center;
}

.page_content {
    position: relative;
    padding-bottom: 40px;
}

.page_content:before,
.page_content:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 40%;
    /* Adjust the width of the empty space */
    height: 2px;
    /* Adjust the thickness of the border */
    background-color: #fff;
    /* Adjust the color of the border */
}

.page_content:before {
    left: 0;
}

.page_content:after {
    right: 0;
}

.page_bottom_logo {
    bottom: -85px;
    width: 20%;
    cursor: pointer;
}

/* ========= Masonary Grid Gallery section ========== */

#masonry_grid {
    column-count: 2;
    column-gap: 1em;
}

@media(min-width: 200px) {
    #masonry_grid {
        column-count: 2;
        column-gap: 1em;
    }
}

@media(min-width: 40em) {
    #masonry_grid {
        column-count: 4;
        column-gap: 1em;
    }
}

@media(min-width: 75em) {
    #masonry_grid {
        column-count: 3;
        column-gap: 1em;
    }
}

.gallery_item {
    background-color: none;
    display: inline-block;
    margin: 0 0 1em 0;
    width: 100%;
    cursor: pointer;

}

.gallery_item :hover .animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}


.gallery_item img {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-bottom: -4px;
    border-radius: 3px;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
    border-color: var(--aa-primary) !important;
}

/* ========= Masonary Grid Gallery section END ========== */

.project_row {
    height: 130px;
}

.project-section-container a {
    filter: brightness(100%) grayscale(0) !important;
}

.project-section-container a h2 {
    font-size: 1.6rem;
    transition: 0.7s;
    font-family: 'Area-Extended-Black';
    font-weight: 800;
    filter: brightness(100%) grayscale(0);
}

/* ========= Footer section ========== */

.footer_nav a {
    margin-bottom: 5px;
}

.footer_nav a {
    text-decoration: none;
    color: var(--aa-white);
    font-size: 0.9rem;
    transition: 0.7s;
    font-family: 'Area-Extended-Bold';
    text-transform: uppercase;
}

.footer_nav a:hover {
    color: var(--aa-primary);
}

.aa_copyright p {
    text-decoration: none;
    color: var(--aa-white);
    font-size: 0.9rem;
    transition: 0.7s;
    font-family: 'Area-Extended';
    font-weight: 400;
}

.aa_copyright p a {
    color: var(--aa-white);
    text-decoration: none;
}

.aa_copyright p a:hover {
    color: var(--aa-primary);
}


/* BREAKPOINTS */

@media screen and (max-width:662px) {

    .page_bottom_logo {
        bottom: -25px;
        padding-top: 20px;
        width: 30%;
    }

    .page_content:before,
    .page_content:after {
        height: 0;
    }
}

@media screen and (min-width:992px) and (max-width:1440px) {

    .page_bottom_logo {
        bottom: -58px;
    }
}

@media screen and (min-width:1440px) {
    .page_title {
        left: 30%;
    }
}