/* CSS Variables */

:root {

    --aa-primary: #10AE88;
    --aa-secondary: #002740;
    --aa-white: #fff;
}

/* AREA FONT */

@font-face {
    font-family: 'Area';
    src: url('../fonts/Area-Bold.woff2') format('woff2'),
        url('../fonts/Area-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Area-Extended';
    src: url('../fonts/area-boldextended.woff2') format('woff2'),
        url('../fonts/area-boldextended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_section {
    background-image: radial-gradient(75% 220% at 50% 50%, #10AE88 0%, #07585E 0%, #002740 100%);
}

.main_section {
    background-image: radial-gradient(100% 250% at 50% 50%, #10AE88 20%, #07585E 50%, #002740 100%);
}

.logo_container {
    min-height: 55vh;
}

.logo_container h1 {
    font-weight: 600;
    font-size: 2.5rem;
    /* width: 40%; */
    line-height: 1.1;
    font-family: 'Area-Extended';
}

.instant_donate {
    font-size: 20px;
    font-family: 'Area-Extended';
}

.aa_time {
    font-size: 1.2rem;
    display: block;
    font-weight: 600;
    color: #fff;
    font-family: 'Area-Extended';
}

.aa_islamic_time {
    font-size: 0.8rem;
    color: var(--aa-white);
    font-family: 'Area';
}

.nav_container a {
    text-decoration: none;
    color: var(--aa-white);
    font-size: 1.6rem;
    transition: 0.7s;
    font-family: 'Area-Extended';
}

.nav_container a:hover {
    color: var(--aa-primary);
    transition: 0.7s;
}

.header_social_icons a {
    margin-right: 15px;
    color: var(--aa-white);
    font-size: 1.2rem;
}

.header_social_icons a:hover {
    color: var(--aa-primary);
}

.hero_section .col-12 {
    padding: 0;
}

.newsletter {
    background-color: #ffffff75;
}

.newsletter p a {
    font-size: 1.8rem;
    color: var(--aa-secondary);
    font-family: 'Area-Extended';
    line-height: 1;
    margin: 0;
    text-decoration: none;
}

.arrow_circle {
    width: 35px;
    height: 35px;
    border: 2px solid var(--aa-secondary);
}

.circle_white {
    width: 35px;
    height: 35px;
    border: 2px solid var(--aa-white);
}

.page_link, .page_title {
    color: var(--aa-white);
    font-family: 'Area-Extended';
    line-height: 1;
    margin: 0;
    text-decoration: none;
}

.page_title_container {
    background-color: #ffffff69;

}

.page_link h3 {
    font-size: 2rem;
}

.homepage_title {
    text-decoration: none;
    font-family: 'Area-Extended';
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link, .dropdown-item {
    font-family: 'Area-Extended';
    font-weight: ;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--aa-white);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--aa-primary);
}

.top_divider {
    width: 70%;
    border-top: 2px dashed var(--aa-primary);
}

.mobile_menu_social_icons li {
    margin-right: 15px;
}

.nav-link:hover, .nav-link:focus {
    color: var(--aa-primary);
}

.mobile_menu_social_icons li a {
    font-size: 1.3rem;
    color: var(--aa-white);
    margin: 0;
    padding: 0;
}

.mobile_menu_bar {
    background-image: linear-gradient(330deg, var(--aa-primary) -10%, var(--aa-secondary) 100%);
}

.mobile_menu_bar span {
    writing-mode: vertical-rl;
    /* min-width: 20px; */
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Area-Extended';
    line-height: 1.4rem;
}

.mobile_menu_bar .islamic_sidebar_date {
    writing-mode: vertical-rl;
    /* min-width: 20px; */
    color: #fff;
    font-size: 0.9rem;
    font-family: 'Area';
}

.close_btn {
    font-size: 1.6rem;
}

.aa_mobile_nav_toggler {
    font-size: 1.7rem;
}

.nav-link {
    padding: 2PX;
}

/* ========== common style for page ========== */

.page_title {
    transform: rotate(90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    top: 0%;
    left: 10%;
    text-transform: uppercase
}

.line_with_page_title {
    width: 12%;
    height: 20%;
    background-color: white;
    position: relative;
    left: 40%;
    top: 0;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 35%;
}

/* project page show project with image  */
.project-section-container {
    filter: brightness(160%) grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

/* Reduce grayscale and adjust brightness on hover */
.project-section-container:hover {
    filter: grayscale(90%);
}



.stripe-container {
    width: 200px;
    height: 40%;
    position: relative;
}

.stripe-pattern {
    width: 50%;
    height: 250%;
    background: linear-gradient(45deg, #ffffff38  33.33%, transparent 33.33%, transparent 66.66%, #ffffff38  66.66%);
    background-size: 8px 8px;
    /* Adjust the size of the stripes */
}


.search-placeholder::placeholder {
    color: white;
}






/* ========= Footer section ========== */

.footer_nav a {
    margin-bottom: 5px;
}

.footer_nav a {
    text-decoration: none;
    color: var(--aa-white);
    font-size: 0.9rem;
    transition: 0.7s;
    font-family: 'Area-Extended';
    text-transform: uppercase;
}

.footer_nav a:hover {
    color: var(--aa-primary);
}

.aa_copyright p {
    text-decoration: none;
    color: var(--aa-white);
    font-size: 0.9rem;
    transition: 0.7s;
    font-family: 'Area-Extended';
    font-weight: 400;
}

.aa_copyright p a {
    color: var(--aa-white);
    text-decoration: none;
}

.aa_copyright p a:hover {
    color: var(--aa-primary);
}